extends layout

block content
  h1 Books
  .header
    a.button(href="/new") Create new Book
    .container
    form(action="/books/page:number/:search", method="post")
      input(type="text" name='search' id='search').search
      input(type="submit" value="Search").search
  table
    thead 
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
    each book in books
      book
        tr
          td
              a(href="/books/"+ book.id)= book.title
          td= book.author
          td= book.genre
          td= book.year
  .pagination
    if value
      each page in pages
        a.button.number(href="/books/page" + page + "/" + value)= page
    else  
      each page in pages
        a.button.number(href="page" + page)= page